.jumbotron {
    background-color: rgb(126, 102, 86);
    color:rgb(204, 182, 58);
    font-family: 'Fraunces', serif;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #43a8b6;
}